
@model IEnumerable<Assignment1.Models.Technicians>
@{
    ViewData["Title"] = "Technicians";
}

@section header{

    <div class="Incidents-container p-3">
        <div class="box Tech">
            <span></span>
            <div class="content">
                <h2> Technician Manager</h2>
                @if (Model.Count() > 0)
                {
                    <table class="table table-bordered" table-striped style="width:100%">
                        <thead>
                            <tr>
                                <th><p>NAME</p></th>
                                <th><p>EMAIL</p></th>
                                <th><p>PHONE</p></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model)
                            {
                                <tr>
                                    <td>@obj.TName</td>
                                    <td>@obj.Email</td>
                                    <td>@string.Format("{0}-{1}-{2}", obj.Phone.Substring(0, 3), obj.Phone.Substring(3, 3), obj.Phone.Substring(6, 4))</td>
                                    <td class=" text-center">
                                        <div>
                                            <a asp-controller="Technicians" asp-route-Id="@obj.TechniciansId" asp-action="Edit" class="btn btn-outline-primary">Edit</a>

                                        </div>
                                    </td>
                                    <td class=" text-center">
                                        <div>

                                            <a asp-controller="Technicians" asp-route-Id="@obj.TechniciansId" asp-action="Delete" class="btn btn-outline-danger ">Delete</a>

                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="col-6 ">
                        <a asp-controller="Technicians" asp-action="Create" class="btn btn-outline-success">
                            Add Technician
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>


}
